		<div class="container">
			<div class="row">
				<main class="col-md-12">
					<h1>About</h1>
					<p>Welcome to the about section!</p>
					<h2>Personal Information</h2>
					<p>My name is Prabhjot Singh. I am a student of Business Information, I am studying in Seneca College. My student ID is 129183224. I am in love with this college,
						but i don't like the program. I like this course because I have done the same in my graduation also. This program is good but it is hectic and we have 
						a lot of classes.
					</p>
					</main>
			</div>
		</div>

