		<div class="container">
			<h1><b>Welcome to my website</b></h1>
			<p>I will be demonstrating HTML5 principles and techniques, Routing in Express</p>
			<h2><b>About This Website</b></h2>
			<p>This website is made as an assignment for WEB700 course. It consists of some tables that contain data about
				some cities. I have used basic table properties like thead, tbody, tfoot, th, td, tr, and especially rowspan and colspan.
				It also contains some lists with data about cities to demonstrate the basic properties of lists. I have used nested lists
				to accommodate more data in one list instead of creating a new list.</p>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/htmlDemo">HTML Demo</a></li>
				<li><a href="/student/2">Student by Student Number</a></li>
				<li><a href="/students?course=3">Students by Course</a></li>
				<li><a href="/students">All Students</a></li>
				<li><a href="/tas">All TAs</a></li>
				<li><a href="/courses">All Courses</a></li>
				<li><a href="/students/add">Add Student</a></li> <!-- Add the "Add Student" link here -->
			</ul>
			<h2>Introduction to HTML5</h2>
			<p>This site utilizes HTML5, a markup language used for structuring and presenting content on the World Wide Web.</p>
		</div>

